In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import datetime as dt

C:\Users\user\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
#Setting start date as 1st April 2010 and end date as 1st April 2020
start=dt.datetime(2010,4,1)
end=dt.datetime(2020,4,1)
#Taking stock data of Google and Apple from yahoo finance
tickers = ['GOOGL', 'AAPL']

my_data = pd.DataFrame()

for t in tickers:
    my_data[t] = wb.DataReader(t, 'yahoo', start,end)['Adj Close']

In [3]:
my_data.head()

                 GOOGL       AAPL
Date
2010-03-31  283.843842  29.062700
2010-04-01  284.684692  29.182661
2010-04-05  285.790802  29.494308
2010-04-06  284.394409  29.624166
2010-04-07  282.052063  29.755251

In [4]:
#Considering Log Returns for calculating returns for single securities
returns = np.log(my_data / my_data.shift(1))
returns.head()

               GOOGL      AAPL
Date
2010-03-31       NaN       NaN
2010-04-01  0.002958  0.004119
2010-04-05  0.003878  0.010623
2010-04-06 -0.004898  0.004393
2010-04-07 -0.008270  0.004415

In [5]:
returns[['GOOGL', 'AAPL']].mean() * 250

GOOGL    0.134685
AAPL     0.209716
dtype: float64

In [6]:
returns[['GOOGL', 'AAPL']].std() * 250 ** 0.5

GOOGL    0.254062
AAPL     0.274071
dtype: float64

In [7]:
#The investment risk is high when the difference between standard deviation and mean of the security is high

# Covariance & Correlation

In [8]:
cov_matrix = returns.cov() * 250
cov_matrix

          GOOGL      AAPL
GOOGL  0.064548  0.036393
AAPL   0.036393  0.075115

In [9]:
#Correlation is not annualized as it is just the relation between variables
corr_matrix = returns.corr()
corr_matrix

          GOOGL      AAPL
GOOGL  1.000000  0.522661
AAPL   0.522661  1.000000

In [10]:
#Correlation(returns) reflects the dependence between prices at different times and focusses on the returns of the portfolio
#Correlation(prices) focusses on stock price levels

# Portfolio Risk

In [11]:
#Considering the weights of stocks are equal
weights = np.array([0.5, 0.5])

In [12]:
#Portfolio Variance
pfolio_var = np.dot(weights.T, np.dot(returns.cov() * 250, weights))
pfolio_var

0.05311238504476977

In [13]:
#Portfolio Volatility
pfolio_vol = (np.dot(weights.T, np.dot(returns.cov() * 250, weights))) ** 0.5
print (str(round(pfolio_vol, 5) * 100) + ' %')

23.046 %

# Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable risk:

In [14]:
#Calculating the annualized variance
GOOGL_var = returns['GOOGL'].var() * 250
AAPL_var = returns['AAPL'].var() * 250
print(GOOGL_var,AAPL_var)

0.06454761834344815 0.07511501918587118

In [15]:
#Diversifiable/Unsystematic risk = portfolio variance - weighted annual variance
dr = pfolio_var - (weights[0] ** 2 * GOOGL_var) - (weights[1] ** 2 * AAPL_var)
print (str(round(dr*100, 3)) + ' %')

1.82 %

Non-Diversifiable Risk:

In [16]:
#Non-Diversifiable/Systematic Risk can be calculated in 2 ways
#Both have the same output
n_dr_1 = round(pfolio_var - dr,5)
n_dr_2 = round((weights[0] ** 2 * GOOGL_var) + (weights[1] ** 2 * AAPL_var),5)
n_dr_1==n_dr_2

True

In [17]:
print(n_dr_1,n_dr_2)

0.03492 0.03492